* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.banner {
    max-height: 400px;
    object-fit: cover;
	margin-left: -50vw;
	margin-right: -50vw;
    margin-bottom: 0px;
	max-width: 100vw;
	/* position: relative; */
	width: 100vw;
}