:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.0;
  font-weight: 100;

  color-scheme: light dark;
  color: rgba(10, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

a {
  font-weight: 500;
  font-size: 95%;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

b {
  font-weight: 500;
  font-size: 120%;
  color: #000000;
  text-decoration: inherit;
}

p1 {
  font-weight: 500;
  font-size: 120%;
  color: #000000;
  line-height: 1.7;
  max-width: 50px;
  /* text-decoration: inherit; */
}

.footer {
  bottom: 0; 
  left: 0; 
  z-index: 10;
  /* margin-left: -10%; */
  position: relative; 
  /* bottom: 0; 
  left: 0;  */
  z-index: 20;
  width: 190vh;
  height: 25vh;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  flex: auto;
}

h1 {
  font-size: 1.5em;
  line-height: 1.5;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer1 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

.main-container {
  max-width: 1280px;
  margin: auto;
}
